:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: sans-serif;
}

div[role="alert"] {
  padding: 4px 16px;
  border-radius: 8px;
  background-color: #ccc;
  position: fixed;
  top: 16px;
  right: 16px;
  min-width: 20%;
}