:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: sans-serif;
}

div[role="alert"] {
  padding: 8px 16px;
  background-color: #ccc;
  position: fixed;
  bottom: 16px;
  right: 16px;
  min-width: 30%;
}